<!-- Show the login overlay when there is no user data available -->
<!-- The overlay fills the entire screen and contains a login form -->

<div id="loaderOverlay" style="z-index: 2002;" class="fixed top-0 left-0 w-full h-full flex justify-center items-center bg-black">

    <div class="overlay-content max-w-lg w-full bounce-animation">
        <img src="./assets/images/fws/fws_white_logo.png" alt="FrostWorld Logo" class="mx-auto mb-4">
    </div>

</div>