<section id="users" style="display: none;">
    <div class="flex justify-center items-center align-middle">
        <div class="flex space-x-8 p-4 w-9/12 justify-center items-center align-middle border-b-2 border-white profilesBar"
            id="profiles">

            <!-- Profile 0 -->
            <div class="flex flex-col items-center profile">
                <div class="w-32 h-32 rounded-full flex items-center justify-center p-1 imgCtn">
                    <!-- Replace with your image URL -->
                    <img src="./assets/images/stock/profiles/0.png" alt="LightShoro" class="rounded-full pfp" uid="0" />
                </div>
                <span class="text-white font-semibold mt-2 uname">Le beau bg</span>
            </div>

            <!-- Profile 1 -->
            <div class="flex flex-col items-center profile">
                <div class="w-32 h-32 rounded-full border-4 border-white flex items-center justify-center p-1 imgCtn">
                    <!-- Replace with your image URL -->
                    <img src="./assets/images/stock/profiles/1.png" alt="Mister Nox" class="rounded-full pfp" uid="1" />
                </div>
                <span class="text-white font-semibold mt-2 uname">Mister Nox</span>
            </div>

            <!-- Profile 2 -->
            <div class="flex flex-col items-center profile">
                <div class="w-32 h-32 rounded-full flex items-center justify-center p-1 imgCtn">
                    <!-- Replace with your image URL -->
                    <img src="./assets/images/stock/profiles/2.png" alt="Eradium" class="rounded-full pfp" uid="2" />
                </div>
                <span class="text-white font-semibold mt-2 uname">Eradium</span>
            </div>

            <!-- Profile 3 -->
            <div class="flex flex-col items-center profile">
                <div class="w-32 h-32 rounded-full flex items-center justify-center p-1 imgCtn">
                    <!-- Replace with your image URL -->
                    <img src="./assets/images/stock/profiles/3.png" alt="Oksanna" class="rounded-full pfp" uid="3" />
                </div>
                <span class="text-white font-semibold mt-2 uname">Oksanna</span>
            </div>

            <!-- Profile 4 -->
            <div class="flex flex-col items-center profile">
                <div class="w-32 h-32 rounded-full flex items-center justify-center p-1 imgCtn">
                    <!-- Replace with your image URL -->
                    <img src="./assets/images/stock/profiles/4.png" alt="Saki" class="rounded-full pfp" uid="4" />
                </div>
                <span class="text-white font-semibold mt-2 uname">Saki</span>
            </div>

            <!-- Profile 5 -->
            <div class="flex flex-col items-center profile">
                <div class="w-32 h-32 rounded-full flex items-center justify-center p-1 imgCtn">
                    <!-- Replace with your image URL -->
                    <img src="./assets/images/stock/profiles/5.png" alt="niicolasjed" class="rounded-full pfp" uid="5" />
                </div>
                <span class="text-white font-semibold mt-2 uname">niicolasjed</span>
            </div>

            <!-- New Profile -->
            <div class="flex flex-col items-center profile newprofile">
                <div class="w-32 h-32 rounded-full flex items-center justify-center p-1">
                    <img src="./assets/images/profiles/new_account.png" alt="New Account" class="rounded-full" />
                </div>
                <span class="text-white font-semibold mt-2 uname">Nouveau</span>
            </div>
        </div>
    </div>
</section>