<footer class="fixed bottom-0 left-0 w-full p-2 flex justify-between items-center" id="footer">
    <!-- Parameter Icon within rounded button -->
    <div id="settings">
        <button class="bg-black bg-opacity-50 p-2 rounded-full">⚙</button>
    </div>
    <!-- Make it so that the game title is displayed in the middle of the footer -->
    <!-- If the title is too long, make it so the wrap doesn't move the user icon -->
    <div id="gameInfo" class="flex flex-col items-center space-y-2 w-3/5">
        <div class="text-lg font-semibold text-center" id="gameTitle">NOM DU JEU</div>
        <div class="mt-2 flex justify-center items-center space-x-4">
            <span>0% téléchargé</span>
            <span>|</span>
            <span>0 succès</span>
        </div>
    </div>
    <div id="userIcon">
        <!-- User Profile Picture & Name under it -->
        <div class="flex flex-col items-center space-y-2">
            <img src="<%= account.pfp %>" class="w-12 h-12 rounded-full"
                alt="User Profile Picture" id="userProfilePicture" />
            <span id="userProfileName"><%= account.displaynameRaw %></span>
        </div>
    </div>
</footer>