<!-- Center the carousel to the screen -->
<section class="fixed inset-0 flex items-center justify-center overflow-hidden pointer-events-none" id="gameOverview">
    <!-- Responsive Tiles Container -->
    <swiper-container class="mySwiper pointer-events-auto" id="gameSwiper" pagination="false" effect="coverflow"
        grab-cursor="true" centered-slides="true" slides-per-view="auto" coverflow-effect-rotate="0"
        coverflow-effect-stretch="0" coverflow-effect-depth="100" coverflow-effect-modifier="1"
        coverflow-effect-slide-shadows="false" loop="false" init="false">
        <!--<swiper-slide data-name="ETERNALTALE" data-backdrop="Eternaltale" data-swiper-slide-id="eternaltale">
            <img src="./assets/images/stock/Eternaltale.png" />
        </swiper-slide>
        <swiper-slide data-name="FOXTALE" data-backdrop="foxtale" data-swiper-slide-id="foxtale">
            <img src="./assets/images/stock/Foxtale.png" />
        </swiper-slide>
        <swiper-slide data-name="SCP: ANOMALOUS THREAT" data-backdrop="aaaaaaaaaaaaaa" data-swiper-slide-id="scpat">
            <img src="./assets/images/stock/scpAnomalousThreat.png" />
        </swiper-slide>
        <swiper-slide data-name="One Week at Alan's" data-backdrop="OneWeekAtAlans" data-swiper-slide-id="owaa">
            <img src="./assets/images/stock/OneWeekAtAlans.png" />
        </swiper-slide>
        <swiper-slide data-name="THE MYCÉMITE: Our New World" data-backdrop="Mycemite" data-swiper-slide-id="mycemite">
            <img src="./assets/images/stock/Mycemite.png" />
        </swiper-slide>
        <swiper-slide data-name="FROST WORLD : GRAND PRIX" data-backdrop="aled" data-swiper-slide-id="fwgp">
            <img src="./assets/images/stock/FWGP.png" />
        </swiper-slide>
        <swiper-slide class="blured" data-swiper-slide-id="erwan"
            data-name="ERWAN VORE SIMULATOR, CERTIFIED BY DEBILUS, 2025, ULTRA DELUXE EDITION, GOTY 2026, FITGIRL REPACK, now with hd textures uncensored"
            data-backdrop="vrc">
            <img src="./assets/images/stock/lmao.png" />
            <div class="censor absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
                <span class="font-bold text-2xl">
                    CONTENU SENSIBLE
                </span>
            </div>
        </swiper-slide>-->
    </swiper-container>
</section>